@import url('reset.css');

body{
  font-family: "Times New Roman", Georgia, Serif;
  font color: black;
  background-image: url("../img/background.png");
}

#container{
  margin: auto;
  width: 58.750em;
}

h1{
  height: 8.375em;
  width: 8.125em;
  display: block;
  text-indent: -624.938em;
  background-image: url("../img/logo_gk.png");
  margin-left: 2.500em;
}

h2{
  border-bottom: solid 0.125em black;
  margin-top: 1.875em;
  font-size: 1.2em;
}

figure{
  background-color: #F2EDED;
  border: solid 0.063em black;
  text-align: center;
  margin: 1.875em;
  padding: 0.938em;
}
figcaption{
  margin-top: 0.625em;
}

p{
  margin-top: 0.938em;
  padding-left: 2.813em;
  padding-right: 2.813em;
  line-height: 1.5em;
}

#centro-distribuicao{
  width: 34.375em;
  margin: 0 auto;
}

#familia-teles{
  float: right;
  margin-right: 0.625em;
  margin-bottom: 0.625em;
}

#diferenciais ul{
  margin-top: 0.938em;
  margin-right: 3.750em;
}

a:link{
  color: blue;
	text-decoration: none;
}

a:visited{
  color: blue;
	text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

footer{
  font color: #ccc;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  background-image: url("../img/fundo-rodape.png");
}

footer p {
  
  color: white;
}

#imagemRodape{
  margin-left: 2.188em;
  margin-top: 10px;
}

.caixa-footer ul {
  position: relative;
	padding: 1.250em;
	list-style-type: none;
	float: right;
}

.caixa-footer ul li {
  padding: 0.313em;
  display: inline;
}

.social {
	position: absolute;
	margin-top: 30px;
	margin-right: 20px;

}

.social a[href*="http://www.facebook.com/gkfashion"] {
	height: 32px;
	width: 32px;
	display: inline-block;
	background: url("../img/sociais.png") no-repeat 0 0;
}
.social a[href*="http://www.twitter.com/gkfashion"] {
	height: 32px;
	width: 32px;
	display: inline-block;
	background: url("../img/sociais.png") no-repeat -90px 0;
}
.social a[href*="http://plus.google.com/gkfashion"] {
	height: 32px;
	width: 32px;
	display: inline-block;
	background: url("../img/sociais.png") no-repeat -45px 0;
}
