@import url('reset.css');

body{
  font-family: "Times New Roman", Georgia, Serif;
  font color: black;
  background-image: url("../img/background.png");
}

#container{
  margin: auto;
  width: 58.750em;
}

h1{
  height: 8.375em;
  width: 8.125em;
  display: block;
  text-indent: -624.938em;
  background-image: url("../img/logo_gk.png");
  margin-left: 2.500em;
}

h2{
  border-bottom: solid 0.125em black;
  margin-top: 1.875em;
  font-size: 1.2em;
}

figure{
  background-color: #F2EDED;
  border: solid 0.063em black;
  text-align: center;
  margin: 1.875em;
  padding: 0.938em;
}
figcaption{
  margin-top: 0.625em;
}

p{
  margin-top: 0.938em;
  padding-left: 2.813em;
  padding-right: 2.813em;
  line-height: 1.5em;
}

#centro-distribuicao{
  width: 34.375em;
  margin: 0 auto;
}

#familia-teles{
  float: right;
  margin-right: 0.625em;
  margin-bottom: 0.625em;
}

#diferenciais ul{
  margin-top: 0.938em;
  margin-right: 3.750em;
}

a:link{
  color: green;
	text-decoration: none;
}

a:visited{
  color: green;
	text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

footer{
  font color: #ccc;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  background-image: url("../img/fundo-rodape.png");
  clear: both;
}

footer p {
  text-align: center;
  color: white;
}

#imagemRodape{
  margin-left: 2.188em;
  margin-top: 10px;

}

.caixa-footer ul {
  position: relative;
	padding: 1.250em;
	list-style-type: none;
	float: right;
}

.caixa-footer ul li {
  padding: 0.313em;
  display: inline;
}

.social {
	position: absolute;
	margin-top: 30px;
	margin-right: 20px;

}

.social a[href*="http://www.facebook.com/gkfashion"] {
	height: 32px;
	width: 32px;
	display: inline-block;
	background: url("../img/sociais.png") no-repeat 0 0;
}
.social a[href*="http://www.twitter.com/gkfashion"] {
	height: 32px;
	width: 32px;
	display: inline-block;
	background: url("../img/sociais.png") no-repeat -90px 0;
}
.social a[href*="http://plus.google.com/gkfashion"] {
	height: 32px;
	width: 32px;
	display: inline-block;
	background: url("../img/sociais.png") no-repeat -45px 0;
}

/* CSS para index */

header{
  position: relative;
}

.sacola {
  background: url("../img/sacola.png") no-repeat;
  text-align: right;
  width: 8.750em;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-principal ul {
	list-style-type: none;
	position: absolute;
	bottom: 0;
	right: 0;
}
.menu-principal ul li {
	padding: 0.313em;
	display: inline;
}

.menu-principal a:hover {
	color: blue;
	text-decoration: none;
}

.busca{
  background-color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.625em;
  padding-bottom: 0.625em;
  width: 14.375em;
  float: left;
}

.menu-departamento{
  clear: both;
  margin-top: 10px;
  padding-bottom: 10px;
}

.menu-departamento li{
  background-color: white;
  margin-bottom: 1px;
  padding: 0.313em 0.625em;
}

.menu-departamento a{
  color: grey;
  text-decoration: none;
}

.menu-departamento li ul{
	display: none;
}

.menu-departamento li:hover ul{
	display: block;
}

.menu-departamento ul ul li{
  background-color: #dcdcdc;
}

.menu-departamento li li a:before{
    content: '\279B';
    padding-right: 3px;
}

.busca h2 {
	margin: 0.625em;
}
.busca form {
	margin: 0.625em;
}

.busca nav {
	margin: 0.625em;
}

.busca{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.busca input {
  vertical-align: middle;
}

.busca input[type='search']{
  height: 25px;
  width: 170px;
  border-radius: 10px;
}

.caixa-destaque{
	margin-top: 0.625em;
  margin-bottom: 10px;;
}



/* CSS para Produtos - Novidades e mais vendidos */

.paineis {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.paineis h2{
  font-style: normal;
  font: bold Serif;
  text-transform:uppercase;
  font-weight: bold;
  margin-bottom: 10px;

}
.paineis h2:before {
  content: '\2756';
  padding-right: 5px;
  opacity: 0.4;
}

.painelNovidades {
  width: 445px;
  float: left;
  background-color: #f5dcdc;
  background: linear-gradient(#f5dcdc, #bebef4);
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 15px;
}


.maisVendidos{
  width: 445px;
  float: right;
  background-color: #dcdcf5;
  background: linear-gradient(#dcdcf5, #f4bebe);
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 15px;
  margin-right: 10px;
}

.paineis ol li{
  display: inline-block;
  vertical-align: top;
  height: 140px;
  margin: 10px;
  margin-left: 40px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  -webkit-transition:	all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}

.paineis a{
	color: #333;
	text-align: center;
	text-decoration: none;
}

.paineis a:hover{
  box-shadow: 5px 5px 5px #888888;
  background-color: white;
  opacity: 0.8;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.2);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 200ms ease-in;
  transform: scale(1.2);
}

.paineis figure, .paineis figcaption{
	margin:0;
	padding: 0;
}
